
<form method="POST" and action="/editpswd/" >
  {% csrf_token %}
    <ul>
<li>
<a href="/myauction/">My Auctions</a></li>
</li>
<li>
<a href="/allauction/">All Auctions</a></li>
</li>
{% if loggedin == 0 %}
<li>
<a href="/login/">Login</a></li>
</li>
{% endif %}
{% if loggedin == 1 or loggedin == 2 %}
<li>
<a href="/logout/">Logout</a></li>
</li>
{% endif %}
{% if loggedin == 0 %}
<li>
<a href="/newuser/">Create User</a></li>
</li>
{% endif %}
<li>
<a href="/createauctions/">New Auction</a></li>
</li>
<li>
<a href="/editemail/">Edit Email</a></li>
</li>
<li>
<a href="/editpswd/">Edit Password</a></li>
</li>
<li>
<a href="/language/">Language</a></li>
</li>
</ul>
    <h1>YAAS</h1>
    <h2>Edit Your Password</h2><br><br>
{{msg|default:""}}
  <div>
    <label>
      Old Password:
      <input type="password" name="oldpswd" value=""/>
    </label>
  </div>
  <div>
    <label>
       New Password:
      <input type="password" name="newpswd" value=""/>
    </label>
  </div>

  <input type="submit" value="Submit"/>
</form>

    <br/><br/><br/><br/>
<div> Session start date: {{req.session_start}}</div>
<div>Auction visited: {{req.blog_visited}}</div>
<div>Auction edited: {{req.blog_edited}}</div>
<div>Auction created: {{req.blog_created}}</div>
<div>Auction deleted: {{req.blog_deleted}}</div>
<form action="/reset" method="POST">
  {% csrf_token %}
  <input type="submit" value="Reset">
</form>
